<h2>Data Introduction<h2>

<p>We are considering the dataset which is given by Coursera from all collisions provided by Seattle Police Department and recorded by Traffic Record. This includes all types of collisions. Collisions will display at the intersection or mid-block of a segment. Timeframe: 2004 to Present.</p>

<h3>Description of Data</h3>

<p>The Data-Collision dataset consists of total 40 Attributes and 221525 records, which is recorded within the time frame:2004-present. The below will be various forms of data:

In [1]:
import pandas as pd
dc=pd.read_csv("http://data-seattlecitygis.opendata.arcgis.com/datasets/5b5c745e0f1f48e7a53acec63a0022ab_0.csv")

/opt/conda/envs/Python36/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (35) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [2]:
dc.shape

(221525, 40)

<h4>Head of data</h4>

In [3]:
dc.head()

,X,Y,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,LOCATION,...,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
0,-122.344896,47.717173,1,1003,1003,3503158,Matched,Block,NaN,AURORA AVE N BETWEEN N 117TH PL AND N 125TH ST,...,Dry,Daylight,Y,NaN,NaN,45,Vehicle - Pedalcyclist,15057,0,N
1,-122.376467,47.543774,2,56200,56200,1795087,Matched,Block,NaN,35TH AVE SW BETWEEN SW MORGAN ST AND SW HOLLY ST,...,Dry,Dark - Street Lights On,NaN,6015003.0,NaN,0,Vehicle going straight hits pedestrian,0,0,N
2,-122.360735,47.701487,3,327037,328537,E979380,Matched,Intersection,37122.0,3RD AVE NW AND NW 100TH ST,...,Wet,Daylight,NaN,NaN,NaN,10,Entering at angle,0,0,N
3,-122.297415,47.599233,4,327278,328778,E996362,Unmatched,Intersection,30602.0,M L KING JR WAY S AND S JACKSON ST,...,NaN,NaN,NaN,NaN,NaN,,NaN,0,0,N
4,-122.368001,47.653585,5,1248,1248,3645424,Unmatched,Block,NaN,W EWING ST BETWEEN 6TH AVE W AND W EWING PL,...,NaN,NaN,NaN,NaN,NaN,,NaN,0,0,N

<h4>Data types of data</h4>

In [4]:
dc.dtypes

X                  float64
Y                  float64
OBJECTID             int64
INCKEY               int64
COLDETKEY            int64
REPORTNO            object
STATUS              object
ADDRTYPE            object
INTKEY             float64
LOCATION            object
EXCEPTRSNCODE       object
EXCEPTRSNDESC       object
SEVERITYCODE        object
SEVERITYDESC        object
COLLISIONTYPE       object
PERSONCOUNT          int64
PEDCOUNT             int64
PEDCYLCOUNT          int64
VEHCOUNT             int64
INJURIES             int64
SERIOUSINJURIES      int64
FATALITIES           int64
INCDATE             object
INCDTTM             object
JUNCTIONTYPE        object
SDOT_COLCODE       float64
SDOT_COLDESC        object
INATTENTIONIND      object
UNDERINFL           object
WEATHER             object
ROADCOND            object
LIGHTCOND           object
PEDROWNOTGRNT       object
SDOTCOLNUM         float64
SPEEDING            object
ST_COLCODE          object
ST_COLDESC          object
SEGLANEKEY           int64
CROSSWALKKEY         int64
HITPARKEDCAR        object
dtype: object

<h4>General description about data</h4>

In [5]:
dc.describe()

,X,Y,OBJECTID,INCKEY,COLDETKEY,INTKEY,PERSONCOUNT,PEDCOUNT,PEDCYLCOUNT,VEHCOUNT,INJURIES,SERIOUSINJURIES,FATALITIES,SDOT_COLCODE,SDOTCOLNUM,SEGLANEKEY,CROSSWALKKEY
count,214050.000000,214050.000000,221525.000000,221525.000000,221525.000000,71936.000000,221525.000000,221525.000000,221525.000000,221525.000000,221525.000000,221525.000000,221525.000000,221524.000000,1.272050e+05,221525.000000,2.215250e+05
mean,-122.330756,47.620196,110763.000000,144824.873233,145053.886627,37626.275537,2.226941,0.038118,0.027360,1.730482,0.373935,0.015208,0.001693,13.383042,7.971063e+06,261.135903,9.577244e+03
std,0.030056,0.056048,63948.903529,89222.567072,89598.173976,51968.207339,1.470050,0.201766,0.164537,0.829754,0.732077,0.158052,0.044888,7.300182,2.611523e+06,3246.962907,7.146156e+04
min,-122.419091,47.495573,1.000000,1001.000000,1001.000000,23807.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.007024e+06,0.000000,0.000000e+00
25%,-122.349280,47.577133,55382.000000,71668.000000,71668.000000,28653.000000,2.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,11.000000,6.007029e+06,0.000000,0.000000e+00
50%,-122.330363,47.616033,110763.000000,127252.000000,127252.000000,29973.000000,2.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,11.000000,8.033011e+06,0.000000,0.000000e+00
75%,-122.311998,47.664290,166144.000000,209935.000000,210155.000000,33984.000000,3.000000,0.000000,0.000000,2.000000,1.000000,0.000000,0.000000,14.000000,1.018101e+07,0.000000,0.000000e+00
max,-122.238949,47.734142,221525.000000,334020.000000,335520.000000,764413.000000,93.000000,6.000000,2.000000,15.000000,78.000000,41.000000,5.000000,87.000000,1.307202e+07,525241.000000,5.239700e+06

<h4>Number of Null values in all columns, which is displays integral vlaues:</h4>

In [6]:
dc.isna().sum()

X                    7475
Y                    7475
OBJECTID                0
INCKEY                  0
COLDETKEY               0
REPORTNO                0
STATUS                  0
ADDRTYPE             3712
INTKEY             149589
LOCATION             4590
EXCEPTRSNCODE      120403
EXCEPTRSNDESC      209746
SEVERITYCODE            1
SEVERITYDESC            0
COLLISIONTYPE       26313
PERSONCOUNT             0
PEDCOUNT                0
PEDCYLCOUNT             0
VEHCOUNT                0
INJURIES                0
SERIOUSINJURIES         0
FATALITIES              0
INCDATE                 0
INCDTTM                 0
JUNCTIONTYPE        11974
SDOT_COLCODE            1
SDOT_COLDESC            1
INATTENTIONIND     191337
UNDERINFL           26293
WEATHER             26503
ROADCOND            26422
LIGHTCOND           26592
PEDROWNOTGRNT      216330
SDOTCOLNUM          94320
SPEEDING           211596
ST_COLCODE           9413
ST_COLDESC          26313
SEGLANEKEY              0
CROSSWALKKEY            0
HITPARKEDCAR            0
dtype: int64

<h3>Data Modelling</h3>
<p>It involves many iterations, we should develop a model which is Supervised machine learning model, as it consists mainly od structured and labelled data. From the dataset we could see 37 attributes,for successful model development we should consider attributes. In order to improve the model we can consider only few attributes which plays important role on predicting the Accident severity effectively.</p>

<p>Before modelling we should pre-process the data. There are many irregularities in the data set, we should deal with missing values.</p>

<p>In the process of developing a model, we should divide the dataset into training dataset and testing dataset, because we should test the model to analyze the predictability

<p>So i am splitting the data in 70:30 ratio for better training and testing the model in order to achieve high accuracy in prediction. After developing a model, we should train with splitted training data and test it with testing data. After successfully developing a model, we should evaluate the model with supervised evaluation metrics like Jacards similarity index, F Score, Confusion matrix etc for better credibility of accuracy.</p>

<p>After completing all, we should make a report on approach as well as explaining details so that developed model should reflect its working.</p>